# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthUserFile /home/brother/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/brother/public_html/_vti_pvt/service.grp



RewriteEngine On
RewriteRule ^([a-zA-Z0-9]*)\/?([a-zA-Z0-9]*)?\/?$ index.php?indicador=$1&i=$2  [NC]
RewriteRule ^([a-zA-Z0-9]*)\/?([a-zA-Z0-9]*)?\/?$ index.php?indicador=$1&i=$2  [NC]



